.container {
    max-width: 500px;
    margin: 400px auto;
    text-align: center;
}

button {
    padding: 10px 50px;
    border: 1px solid darkgoldenrod;
    border-radius: 10px;
    background: #ffd70085;
    cursor: pointer;
}

button:focus {
    background-color: gold;
    color: #FFF;
}